node_modules
package-lock.json
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
yarn-error.log
.env
.env.*
!.env.example
.scannerwork
.DS_Store
dist
ERD.svg
.idea
Inter_API_Certificado.crt
Inter_API_Chave.key
temp
UsersLucasAppDataRoamingnpm-cache
